extends layout.pug

block title
    title DB Land - Exchanges

block content
    .horizontal-flex.vmargin
        .column.border
            .subtitle Item Exchanges Information
            .horizontal-flex
    if(Object.keys(exchanges).length === 0)
        .vmargin.border
            .info Database is journaling, probably.
    else
        each itemd, itemkey in exchanges
            each itemdata, itemlevel in itemd
                .horizontal-flex.vmargin
                    .column.border
                        table
                            tbody
                                tr
                                    td
                                        a(href=`/items/${itemkey}`).sprite-container.small
                                            span(style=sprites.item(itemkey, 32))
                                    if itemd.length > 1
                                        td #{items_data[itemkey].name} +#{itemlevel}
                                    else
                                        td #{items_data[itemkey].name}
                        hr
                        table.exchanges
                            thead
                                tr
                                    th
                                    th.align-center Item
                                    th.align-center Amount
                                    th.align-center Times Seen
                                    th.align-center Chance
                                td.dashed(colspan=11)
                            tbody.list
                                each record in itemdata
                                    tr
                                        td
                                            a(href=`/items/${record.result}`).sprite-container.small
                                                div(style=sprites.item(record.result, 32))
                                        td
                                            if (record.result == "gold")
                                                .info Gold
                                            else
                                                a.name(href=`/items/${record.result}`)=items_data[record.result].name
                                        td.align-center #{formatNumber(record.amount)}
                                        td.align-center #{record.seen}
                                        td.align-center #{Math.round(record.seen/record.total * 10000)/100}%
