extends layout.pug

block content
    .vertical-flex
        .border.title.vmargin Monsters
        .horizontal-flex.spread.vmargin
            each monster in monsters
                a.box.border.margin.vertical-flex(href=`/monsters/${monster.type}`)
                    .sprite-container
                        div(style=sprites.monster(monster.type, 64))
                    span.align-center=monster.name

        .border.title.vmargin Items
        .horizontal-flex.spread.vmargin
            each item in items
                a.box.border.margin.vertical-flex(href=`/items/${item.type}`)
                    .sprite-container.small
                        div(style=sprites.item(item.type, 32))
                    span.align-center=item.name
