extends layout.pug

block title
    if npc.name
        title DB Land - #{npc.name}
    else
        title DB Land - #{type}

block content
    .horizontal-flex.vmargin
        .static-column.rmargin.border.vertical-flex
                .sprite-container
                    div(style=sprites.npc(npc.skin, 64))
                if npc.name
                    .title=npc.name
                else
                    .title=type

        .column.border
            .subtitle Npc Information
            .horizontal-flex
                .column
                    .info Role: #[span.gray=npc.role]
                    if npc.type
                        .info Type: #[span.gray=npc.type]
                    if npc.quest
                        .info Quest: #[span.gray=npc.quest]
    if npc.says || npc.interaction
        .horizontal-flex.vmargin
            if npc.says
                .column.border(class=npc.interaction ? 'rmargin' : '')
                    .subtitle Says
                    .horizontal-flex
                        .column
                            if typeof npc.says === 'string'
                                .info #[span.gray=npc.says]                                
                            else
                                each say in npc.says
                                    .info #[span.gray=say]
            if npc.interaction
                .column.border
                    .subtitle Interaction
                    .horizontal-flex
                        .column
                            each interaction in npc.interaction
                                .info #[span.gray=interaction]
    if npc.items
        .horizontal-flex.vmargin
            .column.border
                .subtitle Sells
        .horizontal-flex.spread.vmargin
            each item in npc.items
                if item
                    a.box.border.margin.vertical-flex(href=`/items/${item}`)
                        .sprite-container.small
                            div(style=sprites.item(item, 32))
                        span.align-center=items[item].name
    if npc.quest 
        .horizontal-flex.vmargin
            .column.border
                .subtitle Quest Item
        .horizontal-flex.spread.vmargin
                each item, type in items
                    if item.quest == npc.quest
                        a.box.border.margin.vertical-flex(href=`/items/${type}`)
                            .sprite-container.small
                                div(style=sprites.item(type, 32))
                            span.align-center=item.name
                            if item.e
                                span.align-center=item.e
    if npc.role == 'exchange'
        .horizontal-flex.vmargin
            .column.border
                .subtitle Exchanges
        .horizontal-flex.spread.vmargin
                each item, type in items
                    if !item.quest && item.e
                        a.box.border.margin.vertical-flex(href=`/items/${type}`)
                            .sprite-container.small
                                div(style=sprites.item(type, 32))
                            if item.e == 1
                                span.align-center=item.name
                            else 
                                span.align-center=item.e+' '+item.name