extends item.pug
block price

    if(price_data.length === 0)
        .vmargin.border
            .info No market data avaliable.
    else 
        - let scaling = item.upgrade || item.compound
        if scaling
            .vmargin.border
                table
                    -
                        let levels = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                        let multipliers = [1, 1, 1, 1, 1, 1, 1.25, 1.5, 2, 3]

                    thead
                        tr
                            th.align-center Levels
                            th.align-center Listed Items                     

                    tbody
                        each i in levels
                            tr
                                th.align-center +#{i}
                                td
                                  table.scaling
                                      thead
                                          th.align-center.medsmall.gray Price
                                          th.align-center.medsmall.gray Player
                                          th.align-center.medsmall.gray Map
                                          th.align-center.medsmall.gray Server
                                      tbody
                                          each price_item in price_data
                                              if i == price_item.level
                                                  tr
                                                      td.align-center #{formatNumber(price_item.price)}
                                                      td.align-center #{price_item.player}
                                                      td.align-center #{price_item.map}
                                                      td.align-center #{price_item.server}

        else
            .vmargin.border
                table
                    thead
                        tr
                            th.align-center Listed Items
                    tbody
                        tr
                            td
                                table.scaling
                                    thead
                                        th.align-center.medsmall.gray Price
                                        th.align-center.medsmall.gray Player
                                        th.align-center.medsmall.gray Map
                                        th.align-center.medsmall.gray Server
                                    tbody
                                        each price_item in price_data
                                            tr
                                                td.align-center #{formatNumber(price_item.price)}
                                                td.align-center #{price_item.player}
                                                td.align-center #{price_item.map}
                                                td.align-center #{price_item.server}