extends layout.pug

block title
    title DB Land - Upgrades

block content
    .horizontal-flex.vmargin
        .column.border
            .subtitle Item Upgrade Information
            .horizontal-flex

    each group, group_type in upgrades
        .horizontal-flex.vmargin
            .column.border
                .subtitle #{group_type}
                .horizontal-flex
                table.upgrades
                    thead
                        tr
                            th
                            th.align-center Item
                            - var lvl = 1;
                            while lvl <= group.max_level
                                th.align-center +#{lvl++}
                        td.dashed(colspan=11)
                    tbody.list
                        each item in group.data
                            tr
                                td
                                    a(href=`/items/${item.item}`).sprite-container.small
                                        div(style=sprites.item(item.item, 32))
                                td
                                    a.name(href=`/items/${item.item}`)=item.name
                                    - var lvl = 1;
                                    while lvl <= group.max_level
                                        - var result = item.results[(lvl++)-1]
                                        if result
                                            td.info.align-center #{Math.round((result.success / (result.success + result.fails)) * 100)}%
                                            br
                                            span.gray (#{result.success}/#{result.success + result.fails})
                                        else
                                            td.info.align-center N/A
